body {
	background-color: rgba(0,0,0,1);
}

.main,.sub,#musicinfo {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.main {
    font-size: 4vw;
	font-weight: 400;
    position: absolute;
    line-height: 5px;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.secondary {
	font-size: 3vw;
}

.sub {
    font-size: 1vw;
    font-weight: 100;
}

.boxone {
    background-image: linear-gradient(30deg,rgba(18,20,22,0.8) 100%,#FFF 0%);
    box-shadow: 0 1.25rem 2.625rem 0 rgba(0,0,0,0.18);
    width: 20rem;
    height: 20rem;
    padding: 5px;
    border-style: solid;
    border-color: rgba(40,40,40,1);
    border-top-color: red;
    background-repeat: repeat;
    background-size: cover;
    position:absolute;
    left: 20%;
    top: 45%;
    line-height: 1px;
}

.boxsecond {
    background-image: linear-gradient(30deg,rgba(18,20,22,0.8) 100%,#FFF 0%);
    box-shadow: 0 1.25rem 2.625rem 0 rgba(0,0,0,0.18);
    width: 20rem;
    padding: 5px;
    border-style: solid;
    border-color: rgba(40,40,40,1);
    border-top-color: red;
    background-repeat: repeat;
    background-size: cover;
    position:absolute;
    left: 40%;
    top: 45%;
    line-height: 5px;
}

.boxthird {
    background-image: linear-gradient(30deg,rgba(18,20,22,0.8) 100%,#FFF 0%);
    box-shadow: 0 1.25rem 2.625rem 0 rgba(0,0,0,0.18);
    width: 20rem;
    height: 20rem;
    padding: 5px;
    border-style: solid;
    border-color: rgba(40,40,40,1);
    border-top-color: red;
    background-repeat: repeat;
    background-size: cover;
    position:absolute;
    left: 60%;
    top: 45%;
    line-height: 5px;
}

.staffbox {
    background-image: linear-gradient(30deg,rgba(15,15,20,0.8) 100%,#FFF 0%);
    width: 16rem;
    height: 3rem;
    position: absolute;
    left: 11%;
    border-style: solid;
    border-color: rgba(15,15,20,0.8);
    background-repeat: repeat;
    background-size: cover;
    line-height: 5px;
}

#pfp {
    position: absolute;
    left: 2%;
    border-radius: 25px;
    width: 47px;
}

#owner {
    box-shadow: 0 1.25rem 2.625rem 0 rgba(0,0,0,0.18), -3px 0px 0px 0px red;
}

#manager {
    box-shadow: 0 1.25rem 2.625rem 0 rgba(0,0,0,0.18), -3px 0px 0px 0px purple;
    position: absolute;
    top: 40%;
}

#advisor {
    box-shadow: 0 1.25rem 2.625rem 0 rgba(0,0,0,0.18), -3px 0px 0px 0px orange;
    position: absolute;
    top: 60%;
}

#developer {
    box-shadow: 0 1.25rem 2.625rem 0 rgba(0,0,0,0.18), -3px 0px 0px 0px green;
    position: absolute;
    top: 80%;
}

#rank {
    position: absolute;
    top: 18%;
    left: 75%;
    font-size: 10;
}

#musicinfo {
	font-size: 1vw;
	font-weight: 400;
    position: absolute;
    line-height: 5px;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#player
{
    display: none;
}

/* original rainbow
hr.rainbow {
	margin: 60px;
	border: none;
	height: 4px;
    background: #ff0000;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff0000), color-stop(25%,#ffff00), color-stop(50%,#00ff00), color-stop(75%,#00ffff), color-stop(100%,#0000ff));
    background: -webkit-linear-gradient(-45deg, #ff0000 0%,#ffff00 25%,#00ff00 50%,#00ffff 75%,#0000ff 100%);
    background: -moz-linear-gradient(-45deg, #ff0000 0%, #ffff00 25%, #00ff00 50%, #00ffff 75%, #0000ff 100%);
    background: -o-linear-gradient(-45deg, #ff0000 0%,#ffff00 25%,#00ff00 50%,#00ffff 75%,#0000ff 100%);
    background: -ms-linear-gradient(-45deg, #ff0000 0%,#ffff00 25%,#00ff00 50%,#00ffff 75%,#0000ff 100%);
    background: linear-gradient(-45deg, #ff0000 0%,#ffff00 25%,#00ff00 50%,#00ffff 75%,#0000ff 100%);
}*/

/* reversed rainbow
hr.rainbow {
	margin: 60px;
	border: none;
	height: 4px;
    background: #ff0000;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff0000), color-stop(25%,#ffff00), color-stop(50%,#00ff00), color-stop(75%,#00ffff), color-stop(100%,#0000ff));
    background: -webkit-linear-gradient(-45deg, #0000ff4D 0%,#00ffff80 15%,#00ff00CC 30%,#ffff00 35%,#ff0000 50%,#ffff00 65%,#00ff00CC 70%,#00ffff80 85%,#0000ff4D 100%);
    background: -moz-linear-gradient(-45deg, #0000ff4D 0%,#00ffff80 15%,#00ff00CC 30%,#ffff00 35%,#ff0000 50%,#ffff00 65%,#00ff00CC 70%,#00ffff80 85%,#0000ff4D 100%);
    background: -o-linear-gradient(-45deg, #0000ff4D 0%,#00ffff80 15%,#00ff00CC 30%,#ffff00 35%,#ff0000 50%,#ffff00 65%,#00ff00CC 70%,#00ffff80 85%,#0000ff4D 100%);
    background: -ms-linear-gradient(-45deg, #0000ff4D 0%,#00ffff80 15%,#00ff00CC 30%,#ffff00 35%,#ff0000 50%,#ffff00 65%,#00ff00CC 70%,#00ffff80 85%,#0000ff4D 100%);
    background: linear-gradient(-45deg, #0000ff4D 0%,#00ffff80 15%,#00ff00CC 30%,#ffff00 35%,#ff0000 50%,#ffff00 65%,#00ff00CC 70%,#00ffff80 85%,#0000ff4D 100%);
}*/

/* reversed rainbow with black fade
hr.rainbow {
	margin: 60px;
	border: none;
	height: 4px;
    background: #ff0000;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff0000), color-stop(25%,#ffff00), color-stop(50%,#00ff00), color-stop(75%,#00ffff), color-stop(100%,#0000ff));
    background: -webkit-linear-gradient(-45deg, rgba(18,20,22,1),#0000ff4D 0%,#00ffff80 15%,#00ff00CC 30%,#ffff00 35%,#ff0000 50%,#ffff00 65%,#00ff00CC 70%,#00ffff80 85%,#0000ff4D 100%,rgba(18,20,22,1));
    background: -moz-linear-gradient(-45deg, rgba(18,20,22,1),#0000ff4D 0%,#00ffff80 15%,#00ff00CC 30%,#ffff00 35%,#ff0000 50%,#ffff00 65%,#00ff00CC 70%,#00ffff80 85%,#0000ff4D 100%,rgba(18,20,22,1));
    background: -o-linear-gradient(-45deg, rgba(18,20,22,1),#0000ff4D 0%,#00ffff80 15%,#00ff00CC 30%,#ffff00 35%,#ff0000 50%,#ffff00 65%,#00ff00CC 70%,#00ffff80 85%,#0000ff4D 100%,rgba(18,20,22,1));
    background: -ms-linear-gradient(-45deg, rgba(18,20,22,1),#0000ff4D 0%,#00ffff80 15%,#00ff00CC 30%,#ffff00 35%,#ff0000 50%,#ffff00 65%,#00ff00CC 70%,#00ffff80 85%,#0000ff4D 100%,rgba(18,20,22,1));
    background: linear-gradient(-45deg, rgba(18,20,22,1),#0000ff4D 0%,#00ffff80 15%,#00ff00CC 30%,#ffff00 35%,#ff0000 50%,#ffff00 65%,#00ff00CC 70%,#00ffff80 85%,#0000ff4D 100%,rgba(18,20,22,1));
}*/

hr.rainbow {
    background: linear-gradient(-45deg, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff);
    height:4px;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0%;}
    100%{background-position:4px 0%;}
}
@-moz-keyframes AnimationName {
    0%{background-position:0%;}
    100%{background-position:4px 0%;}
}
@keyframes AnimationName {
    0%{background-position:0%;}
    100%{background-position:4px 0%;}
}

hr.divider {
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, rgba(18,20,22,1), rgba(200,0,0,.8), rgba(18,20,22,1));
  background-image: -moz-linear-gradient(left, rgba(18,20,22,1), rgba(200,0,0,.8), rgba(18,20,22,1));
  background-image: -ms-linear-gradient(left, rgba(18,20,22,1), rgba(200,0,0,.8), rgba(18,20,22,1));
  background-image: -o-linear-gradient(left, rgba(18,20,22,1), rgba(200,0,0,.8), rgba(18,20,22,1)); 
}

.loadbar {
	width: 100%;
	background-color: rgba(18,20,22,0.7);
	height: 10px;

	
	margin-right: 3px;
	margin-top: 5px;
	

	overflow: hidden;

	position: fixed;
	left: 0;
	bottom: 0;
	display: block;
}

.progressbar {
	width: 10%;
	background-color: rgba(255,0,0,0.7);
	height: 10px;

	position: absolute;
	left: 5%;
}


.rainbow{
  width:800px;
  height:5px;

  position: absolute;

  top: 29%;
  left: 29%;

  background: -webkit-linear-gradient(left, red,orange,yellow,green,blue,indigo,violet, red);
  background: -moz-linear-gradient(left, red,orange,yellow,green,blue,indigo,violet,red);
  background: -o-linear-gradient(left, red,orange,yellow,green,blue,indigo,violet,red);
  background: -ms-linear-gradient(left, red,orange,yellow,green,blue,indigo,violet,red);
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet,red);
  background-repeat:repeat-x;
  
  -webkit-animation:go 3s linear infinite;
  -moz-animation:go 3s linear infinite;
  -o-animation:go 3s linear infinite;
  -ms-animation:go 3s linear infinite;
  animation:go 3s linear infinite;
}

@-webkit-keyframes go{
  0%{background-position:0;}
  100%{background-position:800px 0;}

}
@-moz-keyframes go{
  0%{background-position:0;}
  50%{background-position:400px 0;}
  100%{background-position:800px 0;}

}
@-o-keyframes go{
  0%{background-position:0;}
  100%{background-position:800px 0;}

}
@-ms-keyframes go{
  0%{background-position:0;}
  100%{background-position:800px 0;}

}
@keyframes go{
  0%{background-position:0;}
  100%{background-position:800px 0;}

}